
 
 <h4><%= comment.user.name %></h4>
  <small>
    <p><%= comment.body %></p>
    <p>
      <%= time_ago_in_words comment.created_at %> ago
            <% if policy(comment).destroy? %>
              | <%= link_to "Delete", [@post, comment], method: :delete,
                data: { confirm: "This comment will be permanently deleted." } %>
            <% end %>
    </p>
  </small>